
<div class="position-relative">
	<i class="btn p-0" onclick="handleSearch()" data-lucide="search" style="position: absolute;top: 0.5rem;left: 0.5rem;color:#6c757d"></i>
	<input type="text"
		   class="form-control border-end-0 border rounded-pill search-input"
		   placeholder="Search for a course" />
</div>
