@model string
@if (string.IsNullOrEmpty(Model))
{
	@await Html.PartialAsync("~/Views/Chapters/Partials/_MissingVideoPlayerPartial.cshtml")
	<div style="margin-top: 0.5rem;font-size: 0.8rem;line-height: 1rem;font-weight:600">
		Error Retrieving the video.
	</div>
}
else
{
	<div class="loader">
		<div class="d-flex position-absolute top-0 w-100 bottom-0 flex-column justify-content-center align-items-center locked">
			<div class="spinner-border" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</div>
	<div class="player-container" style="display:none">
		<video id="player" class="plyr__video-embed d-flex align-items-center justify-content-center " controls playsinline>
			<source src="@Model" type="video/mp4" />
		</video>
	</div>
}
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
<script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>

<script>
	// Reload the Plyr player after changing the source
	var plyrPlayer = new Plyr('#player');

	plyrPlayer.on('canplay', function () {
		$('.loader').hide();
		$('.player-container').show();
	});



</script>